{% extends 'base.html' %}

{% block title %}View Message{% endblock %}

{% block content %}
    <style>

.msg{
    text-align: center;
    color: #333;
    position: relative;
}

.listulmsg {
    list-style-type: none;
    padding: 0;
    position: relative;
}

.listmsg {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

strong {
    color: #555;
}

.message-header {
    margin-bottom: 10px;
}

.message-sender {
    font-weight: bold;
}

.message-event {
    font-style: italic;
    color: #666;
}

.message-content {
    margin-top: 10px;
    color: #333;
}

.message-timestamp {
    color: #888;
    font-size: 0.9em;
}

main {
    position:static;
  }
.background {
background: url('https://images.pexels.com/photos/1095624/pexels-photo-1095624.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')
  center top no-repeat #252746;
background-size: cover;
display: block;
width: 100%;
height: 65rem;
position: absolute;
z-index: 0;
top: 0;
left: 0;
}

.background-texture {
background: -webkit-gradient(
  linear,
  left bottom,
  left top,
  from(#0f0140e6),
  to(rgba(255, 214, 117, 0.9))
);
background: linear-gradient(to top, #0f0140e6, rgba(255, 214, 117, 0.9));
background-size: cover;
width: 100%;
height: 65rem;
position: absolute;
z-index: 0;
top: 0;
left: 0;
}
    </style>
    <div class="background"></div>
    <div class="background-texture"></div>
    <h1 class="msg">Messages</h1>
    <ul class="listulmsg">
        {% for message in messages %}
        <li class="listmsg">
            <div class="message-header">
                <span class="message-sender"><strong>From:</strong> {{ message.sender }}</span><br>
                <span class="message-event"><strong>Event:</strong> {{ message.event.title }}</span>
            </div>
            <div class="message-content">
                <strong>Content:</strong> {{ message.content }}<br>
                <strong>Sent:</strong> {{ message.timestamp }}
            </div>
        </li>
        {% empty %}
        <li>No messages</li>
        {% endfor %}
    </ul>

    {% endblock %}
