{% extends 'base.html' %}

{% block title %}Event Detail{% endblock %}

{% block content %}
<style>
    /* Form container */
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 2%;
        margin-bottom: 3%;
        
    }

    /* Form group */
    .form-group {
        margin-bottom: 20px;
    }

    /* Label styles */
    label {
        font-weight: bold;
    }

    /* Input styles */
    input[type="text"],
    
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        /* Add additional styling as needed */
    }

    /* Button styles */
    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
    .btn-secondary {
    background-color: #6c757d; /* A grayish color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Removes underline from link */
}

.btn-secondary:hover {
    background-color: #545b62; /* A slightly darker gray for hover effect */
}


    /* Image styles */
    .event-image {
        width: 500px; /* Set the width to your desired fixed size */
        height: 600%; /* Maintain aspect ratio */
    }
    h1{
        text-align: center;
    }
    .mapshow{
        height: 500px;
        width: auto;
        background-color: #f5d47a;
        margin-bottom: 18px;
    }
    
</style>

<div class="form-container">
    <h1>Event Detail</h1>
    <div class="form-group">
        <img src="{{ event.logo.url }}" alt="{{ event.title }} Image" class="event-image">
    </div>
    <div class="form-group">
        <label>Title:</label>
        <p>{{ event.title }}</p>
    </div>
    <div class="form-group">
        <label>Description:</label>
        <p>{{ event.description }}</p>
    </div>
    <div class="form-group">
        <label for="{{ form.date.id_for_label }}">Date:</label>
        {{ event.date }}
    </div>
    <div class="form-group">
        <label for="{{ form.address.id_for_label }}">Address:</label>
        {{ event.address }}
    </div>
  
    <div class="form-group">
        <label>Categories:</label>
        <ul>
            {% for category in event.categories.all %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="mapshow">

    </div>

    {% if request.user.is_authenticated and request.user.is_organizer %}
    <a href="{% url 'update-event' event.id %}" class="btn btn-primary">Update</a>
{% endif %}
<a href="javascript:history.back()" class="btn btn-secondary">Back</a>

</div>
{% endblock %}
